.wrapper {
	background-color: var(--dark-color);
}

.wrapper .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

.search_container {
	background-color: var(--md-dark-color);
	height: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	padding: 1rem;
	border-bottom: 1px solid var(--light-dark-color);
}

.logo p {
	font-size: 2rem;
	color: #fff;
	font-weight: bold;
}

.logo p span {
	color: var(--yellow-color);
}

.search_element {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.search_element h3 {
	align-self: center;
	margin: 0 1rem 1.5rem 0;
	font-size: 2rem;
	color: #fff;
	font-weight: 500;
}

.search_element .form_control {
	padding: 1rem;
	font-size: 1rem;
	border: none;
	border-radius: 3px 3px 0 0;
	outline: none;
	color: var(--light-dark-color);
	width: 100%;
}

.search_list {
	position: absolute;
	right: 0;
	top: 100%;
	max-height: 500px;
	overflow-y: scroll;
	z-index: 10;
}

.search_list .search_list-item {
	background-color: var(--light-dark-color);
	padding: .5rem;
	border-bottom: 1px solid var(--dark-color);
	width: 100%;
	color: #fff;
	cursor: pointer;
	transition: background-color 200ms ease;
}

.search_list .search_list-item:hover {
	background-color: #1f1f1f;
}

.search_list-item {
	display: flex;
	align-items: center;
}

.search_item-thumbnail img {
	width: 40px;
	margin-right: 1rem;
}

.search_item-info h3 {
	font-weight: 600;
	font-size: 1rem;
}

.search_item-info p {
	font-size: .8rem;
	margin-top: .5rem;
	font-weight: 600;
	opacity: .6;
}

.hide_search-list {
	display: none;
}

.result_grid {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	justify-content: center;
	gap: 6rem;
	padding: 2.5rem 1rem;
}

.movie_poster img {
	max-width: 300px;
	margin: 0 auto;
}

.movie_info {
	text-align: start;
	color: #fff;
}

.movie_title {
	font-size: 2rem;
	color: var(--yellow-color);
}

.movie_info-mix {
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 1rem 0;
}

.movie_info .year {
	font-weight: 500;
}

.movie_info .rated {
	background-color: var(--yellow-color);
	padding: .4rem;
	margin: 0 .4rem;
	border-radius: 3px;
	font-weight: 600;
}

.movie_info .released {
	font-size: .9rem;
	opacity: .9;
}

.movie_info .writer {
	padding: .5rem 0;
	margin: 1rem 0;
}

.movie_info .genre {
	background-color: var(--light-dark-color);
	display: inline-block;
	padding: .5rem 0;
	border-radius: 3px;
}

.movie_info .plot {
	max-width: 400px;
	margin: 1rem 0;
}

.movie_info .language {
	color: var(--yellow-color);
	font-style: italic;
}

.movie_info .awards {
	font-weight: 300;
	font-size: .9rem;
}

@media screen and (min-width: 576px) {
	.search_element .form_control {
		padding: 1rem 2rem;
	}

	.result_grid {
		flex-direction: row;
		gap: 1rem;
	}
}

@media screen and (min-width: 768px) {
	.result_grid {
		gap: 3rem;
	}
}